name: App

on: [push]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        swift: ['5.3']
    
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: xcodebuild build -scheme DistributedChatApp -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 11,OS=14.3"
      working-directory: DistributedChatApp

